@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", serif;
}

.signIn-form {
  transform: translateX(100%);
  transition: all 0.5s linear !important;
}

.toggle-box-2 {
  transform: translateX(-100%);
  transition: all 0.5s linear !important;
}

.toggle-box-1 {
  transition: all 0.5s linear !important;
}

.login-form {
  transition: all 0.5s linear !important;
}

.main-container.check {
  .toggle-box-1 {
    transform: translateX(100%);
  }

  .login-form {
    transform: translateX(-100%);
  }

  .signIn-form {
    transform: translateX(0);
  }

  .toggle-box-2 {
    transform: translateX(0);
  }
}

.visible {
  visibility: visible !important;
}

@media (max-width: 520px) {
  .toggle-box-1 {
    border-radius: 0 !important;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
  }
  .toggle-box-2 {
    border-radius: 0 !important;
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    transform: translateY(-100%);
  }

  .signIn-form {
    transform: translateY(100%);
  }

  .main-container.check {
    .toggle-box-1 {
      transform: translateY(100%);
    }

    .login-form {
      transform: translateY(-100%);
    }

    .signIn-form {
      transform: translateY(0);
    }

    .toggle-box-2 {
      transform: translateY(0);
    }
  }
}
